<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Find My Vehicle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Find My Vehicle</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="vehiclesearch">
    <ion-select placeholder="Select Make">
      <ion-select-option value="f">Female</ion-select-option>
      <ion-select-option value="m">Male</ion-select-option>
    </ion-select>

    <ion-select placeholder="Select Model">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
    </ion-select>

    <ion-select placeholder="Select Year">
        <ion-select-option value="f">Female</ion-select-option>
        <ion-select-option value="m">Male</ion-select-option>
    </ion-select>
    <ion-button size="large" color="primary">Search</ion-button>
  </div>
</ion-content>
